The template asks you to include your recent CPD activity and CPD activity you plan to do in the near future.
Please ensure that the log includes only learning resources directly related to your 3rd-year individual project. These may include activities such as reading books, journal or conference papers, reviewing web pages, watching YouTube videos, or attending online or on-campus training courses.
The CPD  log is presented during PRM meetings. Please review Section 3.2 in the handbook and the lecture on CPD.
The CPD logs must be completed and added as an appendix to your final report. They will not marked, however, they will be checked to see that you have engaged with the project. CPD logs like this are a common requirement in professions, especially those with professional registration such as chartered engineers.